<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>NG NIC Validator</title>
</head>
<body>
  <form>
    <input type="text" name="txtNic" id="nic" #txtNic="ngModel" [(ngModel)]="nic">
    <button (click)="validateNic()">Check</button>
    <p>{{this.message}}</p>
    <p>{{this.gender}}<br>{{this.day}}-{{this.month}}-{{this.year}}</p>
  </form>

</body>
</html>